# VacationPy

In [65]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
# Import API key
from api_keys import g_key

In [66]:
#Load the csv exported in WeatherPy to a DataFrame
csv_file = os.path.join("city_data.csv")
city_df = pd.read_csv(csv_file)
city_df.head()

,City,lat,lng,Max Temp,Humidity,Clouds,Wind Speed,Country,Date
0,Albany,42.60,-73.97,73.00,45,16,7.47,US,1600898722
1,Rikitea,-23.12,-134.97,72.79,73,1,11.99,PF,1600898722
2,Malbork,54.04,19.03,64.40,63,50,7.63,PL,1600898723
3,Sivaki,52.63,126.75,49.78,96,100,9.80,RU,1600898723
4,Bousso,10.48,16.71,73.76,89,100,4.97,TD,1600898723

### Humidity Heatmap

In [67]:
#Configure gmaps
gmaps.configure(api_key=g_key)

In [68]:
#Use the Lat and Lng as locations and Humidity as the weight
locations = city_df[["lat", "lng"]].astype(float)

humidity = city_df["Humidity"].astype(float)

In [69]:
#Add Heatmap layer to map
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=100,
                                point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
#Narrow down the cities to fit weather conditions
hotel_df = city_df.loc[(city_df["Max Temp"] < 80)| 
                       (city_df["Max Temp"] > 70) |
                       (city_df["Wind Speed"]< 10) | 
                       (city_df["Clouds"] == 0),:]

#Drop any rows will null values
hotel_df.dropna()

,City,lat,lng,Max Temp,Humidity,Clouds,Wind Speed,Country,Date
0,Albany,42.60,-73.97,73.00,45,16,7.47,US,1600898722
1,Rikitea,-23.12,-134.97,72.79,73,1,11.99,PF,1600898722
2,Malbork,54.04,19.03,64.40,63,50,7.63,PL,1600898723
3,Sivaki,52.63,126.75,49.78,96,100,9.80,RU,1600898723
4,Bousso,10.48,16.71,73.76,89,100,4.97,TD,1600898723
...,...,...,...,...,...,...,...,...,...
523,Ambon City,-3.70,128.18,75.20,94,40,3.36,ID,1600898819
524,Iqaluit,63.75,-68.51,35.01,83,90,21.92,CA,1600898734
525,San Jose,37.34,-121.89,84.00,39,20,11.41,US,1600898705
526,Acapulco de Juárez,16.86,-99.89,87.80,74,75,8.05,MX,1600898819
527,Takaka,-40.85,172.80,59.00,93,1,10.00,NZ,1600898819

### Hotel Map

In [48]:
#Create an empty list to store the names of the hotel
hotel_name= []

#iterate through latitude and longitude to get location
for ind, row in hotel_df.iterrows():
    lat = row["lat"]
    lng = row["lng"]
    target_coordinates = f"{lat}, {lng}"

    #set the parameters of query
    params = {
        "location": target_coordinates,
        "keyword" :"hotel",
        "radius": 5000,
        "type": "hotel",
        "key": g_key
        }

    #from the base url run a request using the parameters
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(base_url, params=params)
    
    #convert response to json and pretty print to check the data
    hotel_data = response.json()
    #print(json.dumps(hotel_data, indent=4, sort_keys=True)) 
    
    try:
        hotel_name.append(hotel_data['results'][0]["name"])
    except IndexError:
        hotel_name.append(np.nan)
    
hotel_name

[nan,
 'Pension Bianca & Benoit',
 'Hotel Grot',
 'Sivaki',
 nan,
 'Sberbank, Bankomat',
 'Hotel Diponegoro',
 'Hotel Qaqortoq',
 'Hilton Garden Inn Kauai Wailua Bay',
 nan,
 'Hôtel CTK',
 'Las Hayas Ushuaia Resort',
 'Top of the World Hotel',
 "Ellie's Villa",
 'Graciosa Resort - Biosphere Island Hotel',
 'Birkenhead House',
 'Palace of Zinos',
 'Shangri-La Hotel',
 'Galapagos Morning Glory',
 nan,
 'La Cueva del Pirata',
 'The Explorer Hotel',
 'Paradise First Hotel',
 'Les Embruns Du Baril',
 'Comfort Inn & Suites',
 'Carnarvon Motel',
 'Promenade Hotel',
 'Best Western Plus Quarterdecks Retreat',
 'Grand Naniloa Hotel Hilo - a DoubleTree by Hilton',
 'Presidential Inn & Suites',
 'Splash Guest House',
 'Atlanticview Cape Town Boutique Hotel',
 'Hotel Boutique Restaurant Kran Kreen',
 'Central Palace Hotel - Castro (PR)',
 nan,
 'Nasta Apartment',
 'Hotel National',
 'Hotel Los Caracoles',
 'Welk Resorts Cabo San Lucas',
 'Pacific Resort Rarotonga',
 'Steppe hotel',
 "Gostinitsa ''yana''",
 'Tynwald Willow Bend Estate',
 'SpringHill Suites by Marriott St. George Washington',
 'Victoria Inn Flin Flon',
 'Foveaux Hotel',
 'LODGE PALMAE',
 "Mary-Ann's Polarrigg",
 'Lemon Tree Lane Guest House',
 'Altos de Güemes Hotel',
 nan,
 nan,
 'Amir Kabir Hotel',
 nan,
 'LÜDERITZ NEST HOTEL',
 'Embassy Suites by Hilton Lompoc Central Coast',
 'E-Hotel Muravlenko',
 nan,
 nan,
 nan,
 nan,
 'Hyatt Centric Victoria Harbour Hong Kong',
 'Jatiúca Hotel & Resort',
 'Ocean Cliff View',
 'Qaanaaq Hotel',
 'Courtyard by Marriott Greenville',
 'Talnakh Hotel',
 'Quinta Das Buganvílias',
 'The Bayside Bed and Breakfast',
 'The Jetty Resort',
 'CABIN 29',
 'Tetherow',
 nan,
 nan,
 'Epe Resort and Spa',
 'Abuharee Grand',
 'Amarula Lodge and Restaurant',
 nan,
 'Comodoro Hotel',
 'Thon Hotel Hammerfest',
 nan,
 'Salamanca Wharf Hotel',
 'Orlanova Hotel',
 "Krasnosel'kupnefteprodukt",
 '山羊島ホテル',
 'Fosshotel Húsavík',
 'Bungalows da Peneda',
 'DoubleTree by Hilton Jamestown',
 'Hotel Balai',
 'Lainston House',
 'Hotel El Mirador',
 'DoubleTree by Hilton Hotel Alice Springs',
 'Madonas viesnica , SIA',
 'Hotel Labuan Point',
 'Tourist House - Sablino',
 'Fendalton Park Luxury Accommodation',
 nan,
 'Abbey Beach Resort',
 nan,
 nan,
 'Takutu Hotel',
 'De Hoop Collection',
 'Hotel Angmagssalik',
 'Kangcheng Jian Guo International Hotel',
 'Best Western Kodiak Inn and Convention Center',
 nan,
 'Best Western Plus Deer Park Hotel and Suites',
 'Woodlands Inn & Suites',
 nan,
 'Hôtel Hiva Oa Hanakee Lodge',
 nan,
 'Turtle Nest Inn & Condos',
 "Lu 'Hotel",
 nan,
 'Hotel Cururupu',
 'All Seasons Resort',
 'Hotel Green Hills',
 nan,
 'Hotel Hans Egede',
 'Best Western Thompson Hotel & Suites',
 'Barceló Hamilton Menorca - Adults Only',
 'Каменский Hotel',
 nan,
 'Elizabeth Resort',
 nan,
 nan,
 'Super secret pirate cove',
 'Heritage Hotel',
 nan,
 'Hotel ibis Styles Iu Namibe',
 'Hotel Arctic',
 'Hotel Grand Lubicz - Uzdrowisko Ustka',
 "Hunter's B&B",
 'Osmani Hotel',
 'Eysturland Lodge',
 nan,
 nan,
 'InterContinental Bora Bora Resort Thalasso Spa',
 nan,
 nan,
 'Courtyard by Marriott Penang',
 'Ochag',
 'Hotel Pago del Vicario',
 'Café de Upernavik',
 'Arktika',
 nan,
 'Naujaaraaluit – Clyde River Hotel',
 'Frankfurter Hof',
 'Royal Amazonia',
 nan,
 'Scandic Karasjok',
 'Hotel Kap Farvel',
 nan,
 nan,
 'บ้านอากง โฮมสเตย์ ปากพนัง Baan Argong Homestay Pakphanang',
 'Premier Hotels & Resorts',
 nan,
 'Sovereign Pier on the Waterways',
 'Vardø Hotel AS',
 'Pousada Cordeiro',
 'Hotel Ballast Wilmington, Tapestry Collection by Hilton',
 nan,
 'Bed & Breakfast Sweet Dreams',
 nan,
 nan,
 nan,
 'Shanti Maurice Resort & Spa',
 'Shangri-La Hotel, The Marina, Cairns',
 'Toytoy beach',
 "Grands' Guesthouse",
 nan,
 'Ahipara Bay Motel',
 'Berglings Bed and Breakfast',
 nan,
 'Hotel La Dame de Mali',
 'Velichko T.p., Gostinitsa',
 nan,
 nan,
 'GURU PALAWAN BEACH CLUB/ PEACE&LOVE BC',
 "Marriott's Ko Olina Beach Club",
 'Kimberleyland Waterfront Holiday Park | Kununurra Accommodation',
 'Holiday Inn Mauritius Mon Tresor',
 'Hotel Casa Colonial',
 'Гостиница Scandi',
 'KUR Hotel',
 'The Westin Resort & Spa, Puerto Vallarta',
 'Beachfront Hotel Hokitika',
 'Moli International Hotel',
 nan,
 'Hotel Polo Orchid',
 'SPOT ON 41964 Hotel Alankar Lodging And Boarding',
 'Der Speicher',
 'Walkabout Lodge & Tavern',
 'Hotel Apt. Praia Marina',
 'Hotel Punta León',
 'Pension Feldgärtenhof',
 nan,
 'Osprey Beach Hotel',
 'Pestana Porto Santo',
 'mecca hotel',
 'Liamo Reef Resort - Kimbe International Hotel',
 'Colonial Guest House of Fogo',
 'Hôtel Matagami',
 'Royal St Andrews Hotel',
 'Canopy by Hilton Minneapolis Mill District',
 'Mercure Bengkulu',
 'The Duniway Portland, A Hilton Hotel',
 'Hotel Castelo',
 'Hilton Garden Inn Wenatchee',
 'Protea Hotel by Marriott Saldanha Bay',
 'Sberbank Rossii',
 nan,
 'Batagay-Alyta',
 'General Morgan Inn and Conference Center',
 'Ulladulla Guest House',
 'Hotel Vestmannaeyjar',
 'Last Light Lodge',
 'Hotel D2M',
 '大田市ゲストハウス雪見院 Guesthouse Yukimi-inn',
 'Ponta Anchaca',
 nan,
 'Pestana Bahia Praia',
 'Bismillah Hotel And Lodging',
 'Bertelli Chuí Hotel',
 'Hotel Sun Blue',
 'Xiangshan Hongye Express Hotel',
 nan,
 nan,
 'Gostinitsa',
 '秦皇岛市黄金海岸翡翠岛渔岛沙雕大世界翠湖湾酒店',
 'Hotel La Muradana',
 'Hotel Timpton',
 'OYO ホテル マイルーム わたり鳥の海 荒浜隈潟',
 '汉庭酒店',
 nan,
 'Hôtel Bélinga',
 'Hilton Port Moresby',
 'Mercure Blagoveshchensk',
 'Gostinitsa "Zapolyar\'ye"',
 'Opuwo Country Lodge',
 'Hotel Kontome 2',
 'Krasnyy Podsolnukh',
 '白山枫叶时尚旅馆',
 'Hotel Sea Shell（ホテルシーシェル）',
 'Kak Doma',
 nan,
 'Port Lincoln Hotel',
 'CCI Express Inn',
 'Hotel Senac Ilha do Boi',
 'Jewel Matrouh Hotel',
 'Gostinitsa "Mariya"',
 'Pensiunea Sophia',
 nan,
 nan,
 'Gostinitsa "Aeroport"',
 nan,
 'The Peacock Beach Hotel Hambantota',
 'Hôtel Georges Faustin Aurat',
 'Castaways Cottages',
 'Hotel Durval',
 'Hotel Vista de las Águilas',
 'Villa-Malaza',
 'Class Hotel Rio Claro',
 'Hotel Plaj',
 'Pacific Harbour Lodge',
 'Grand Hotell Egersund AS',
 'Bazuny Hotel & SPA Kaszuby',
 'โรงแรมมีเพลส กุมภวาปี',
 nan,
 'HOTEL "AKNUR"',
 '別邸 海と森',
 'La Encarnación',
 'Formosa Apart Hotel',
 'Namatanai Hotel',
 nan,
 'Ресторан-гостиница "Империя"',
 nan,
 'Balai Desa Kafofo',
 'Thon Hotel Måløy',
 'Old Mill Hotel',
 'Гостиница Кызыл Бозау',
 'K. Hotéis',
 nan,
 'Gostinnitsa Medveditsa',
 'Hotel Nemuro Kaiyoutei',
 nan,
 'Vila Ybytu Eco Resort',
 'Vienna Hotel',
 'Apart Hotel Austral',
 nan,
 '"Avantage" hotel',
 'Við Hafið Guesthouse',
 'DAS.GOLDBERG',
 nan,
 'Distinction Dunedin Hotel',
 'Praia Hotel Imbituba',
 'Hotel Residence KANGABA',
 'Ilha Flat Hotel',
 'My Place Hotel - North Aurora, IL',
 'Coral Hotel Aden',
 'Grahams Place Guanaja',
 'Severnoye Zoloto',
 'Hotel Aviator',
 'Hyatt Regency Cleveland At The Arcade',
 nan,
 'Maui Beach Hotel',
 '宿 花桜 ～Hanasaku～',
 'Motel Senabi',
 'Hotel "Nord House"',
 'Zhemchug',
 'Edgewater Inn Restaurant & Marina',
 'Hotel Hacienda de Abajo',
 'Pousada Buterfly',
 'Pousada Ayshawa',
 'Milky Resort',
 nan,
 'Edgewater Hotel - Lake Wanaka, New Zealand',
 'Hotel Bukik Gadang',
 nan,
 'Hampton Inn & Suites Oahu/Kapolei',
 'Best Western Plus Barclay Hotel',
 'Seeadler Bay Hotel',
 'Albion Hotel',
 'Hotel Volga',
 'PiscoMar Peru',
 nan,
 'Wajiima Onsen Yashio',
 'Nusa Island Retreat',
 'HYATT SALALAH HOTEL',
 'Hampton Inn Danbury',
 'Enjoy Coquimbo Hotel de la Bahía',
 'Wrea Head Hall Hotel',
 'Profilaktoriy Baes',
 'семеен хотел Преслав',
 'Harbour View',
 'La Vista Kushirogawa',
 'Hotel Recanto da Praça',
 'SpringHill Suites by Marriott Fairbanks',
 'Pousada Encanto Abrolhos',
 'Mercure Padang',
 nan,
 'Blue Ridge Beach Resort',
 'Hotel 88 Banjarmasin',
 "Belmond Reid's Palace",
 'Baxter Park Inn',
 'Sberbank Rossii',
 'Laluna Boutique Hotel and Villas',
 'Hotel Alexandria',
 'Al Madina Hotal',
 'Casa Nemo Beach Resort & Spa',
 'Grand Kadem Otel(***)',
 'Azor Hotel',
 'Hotel Tejas Residency',
 'Sofitel Legend Santa Clara Cartagena',
 "Shangri-La's Le Touessrok Resort & Spa",
 'The Albert Hotel',
 nan,
 'Sundog Inn',
 'Codrington Gardens Bed And Breakfast',
 nan,
 'Barn Bed and Breakfast',
 'Hermes Palace Hotel Banda Aceh',
 'Sofía Soberana Hotel Boutique',
 'Barceló Hamilton Menorca - Adults Only',
 'Aruma Hotel Boutique',
 nan,
 'Hôtel Le Pré Saint Michel - Manosque, Luberon',
 'Tawar Hotel Bhikangaon',
 'Berlevåg camping & Appartement AS',
 'Amerian Catamarca Park Hotel',
 'Hotel VIP Praia',
 'Aspen Suites Hotel Sitka',
 'Taloa Heights',
 'Hotel Europa',
 nan,
 'Thon Hotel Kristiansund',
 'Hampton Inn Rawlins',
 nan,
 nan,
 'Winckley Square Hotel',
 'Jalu Hotel',
 'Hotel Casa Do Capitão',
 nan,
 'Casa Grande de Anllo',
 'Hotel Doña Marta',
 nan,
 nan,
 'Nuli Sapi',
 nan,
 'Days Inn & Suites by Wyndham Brooks',
 'Auyuittuq Lodge (Inns North)',
 nan,
 nan,
 'Hotel Itamiaru',
 'Hotel y restaurante "El Diamante"',
 'Best Western Presidential Hotel & Suites',
 'Hotel Maritim Skjervøy AS',
 'HOTEL KIM ELISA',
 'Gilgit Serena Hotel',
 'Hotel Vila Gale Touros',
 'Barrack Point Holidays',
 'Haji Qasim Hotel',
 'Hotelli Aittaranta',
 'Quality Hotel Mildura Grand',
 'Hotel Sarang Intercontinental',
 'Sails in the Desert',
 'Grand Vilia Hotel',
 'HP Red Sea Hotel',
 nan,
 'Berek Fogadó',
 nan,
 'Hilton Garden Inn Sacramento Elk Grove',
 nan,
 'Courtyard by Marriott St. Louis West County',
 'Hôtel Telwa Bungalow',
 'Sofitel Legend Old Cataract Aswan',
 'هتل سعید',
 nan,
 'SENTIDO Mikri Poli',
 'Hilton Garden Inn Santa Marta, Colombia',
 "Paddy D'sawah Guest house",
 'Crest Hotel',
 'Hotel Fanilo',
 nan,
 'Hotel Terrasur',
 'Hótel Höfn',
 nan,
 'Park-Hotel',
 'Wifstavarfs Herrgård',
 'Bensvik Brygge',
 nan,
 'Hotel Etab',
 'Bonifacio Lodge',
 'Pousada Kactus',
 'Portside Hotel - Heritage Collection',
 'Igdlo Guesthouse',
 'Noxapaga Suites',
 'Hampton Inn & Suites by Hilton Thunder Bay',
 'Maynard Lake Lodge',
 'Park Hotel Mount Gambier',
 nan,
 'Maritime Inn Port Hawkesbury',
 'Hotel Plaza Lebu',
 'Tianyuan International Hotel',
 nan,
 'Marriott Santa Cruz de la Sierra Hotel',
 'Zemi Beach House, LXR Hotels & Resorts',
 'Ashmount Country House',
 'Courtyard by Marriott Junction City',
 'Ancyra Hotel By Continent - Poso',
 'Ungoofaaru Inn',
 'Hotel Atacama Suites',
 nan,
 'Aspen Extended Stay Suites',
 'Glen Lyon Inn',
 'Kokopo Beach Bungalow Resort',
 'Hotel Meuligoe',
 nan,
 'Hotel Praia do Sol',
 'Commercial Hotel',
 'Lee Hotel',
 'Hotel Akshat Residency',
 'The Gerald Apartment Hotel',
 nan,
 'Bear River Casino Resort',
 'Hampton Inn Front Royal',
 'Best Western Burke and Wills Motor Inn',
 nan,
 'Alamdar Hotel',
 'Dragunskiy Ruchey',
 'Guest House - BCCL',
 'Hotel Ayuana',
 'Elaf Al Salam Hotel',
 'Mantra Mackay',
 'Latitude20 The Dunes Apartments',
 'Holiday Inn Express & Suites Brownsville',
 nan,
 'Hotel Austral Viedma',
 'Yuzana Aung Hotel',
 'Sandaun Surf Hotel',
 'San Ramon Marriott',
 'Laguna Beach Hotel & Spa',
 'Hotel Contessa',
 'Hometowne Inn',
 'Tarumã Tropical Hotel',
 'Sea Links Beach Hotel 5*',
 'Kinwica',
 nan,
 'Oshin Hotel',
 'Sing and Swing Lodge',
 nan,
 'InterContinental Presidente Cozumel Resort Spa',
 nan,
 'La Urumpta Hotel',
 'IBIS Hotel KongTongXi Road in PingLiang',
 'K-POP HOTEL Seoul Tower',
 'Complexo Hoteleira Machikitchiki',
 'Gostinitsa',
 'AZIMUT Отель Мирный',
 'Fairfield Inn & Suites by Marriott Hazleton',
 nan,
 nan,
 'Pontal Tapes Hotel',
 'Hotel Teudimar',
 'Fortaleza Hotel',
 'Levkada',
 'Havøysund Hotel & Rorbuer',
 'Bautista Lodging House',
 'Le Rocher de Tahiti',
 'Eko-Hotelʹ "Lisovychok"',
 'Le Champ Des Oiseaux',
 nan,
 nan,
 'Peppers Silo Launceston',
 'Soneva Fushi',
 'Kheshtomah Ecolodge',
 nan,
 'Pickerel Bay Cabins',
 'Langsford Luxury',
 'Nara Hotel',
 'Hotel Ivaana',
 'Hotel Folkloro Sanriku Kamaishi',
 'Uyut',
 'Orchid Hotel',
 'Frobisher Inn',
 'Four Points by Sheraton San Jose Downtown',
 'Encanto Acapulco',
 'The Rocks Chalets']

In [62]:
#Add a "Hotel Name" column to the DataFrame
hotel_df["Hotel Name"] = hotel_name

#Drop any rows will null values
hotel_df =hotel_df.dropna()
hotel_df

,City,lat,lng,Max Temp,Humidity,Clouds,Wind Speed,Country,Date,Hotel Name
1,Rikitea,-23.12,-134.97,72.79,73,1,11.99,PF,1600898722,Pension Bianca & Benoit
2,Malbork,54.04,19.03,64.40,63,50,7.63,PL,1600898723,Hotel Grot
3,Sivaki,52.63,126.75,49.78,96,100,9.80,RU,1600898723,Sivaki
5,Peleduy,59.63,112.74,42.26,87,0,2.86,RU,1600898723,"Sberbank, Bankomat"
6,Gorontalo,0.54,123.06,74.55,87,93,2.55,ID,1600898723,Hotel Diponegoro
...,...,...,...,...,...,...,...,...,...,...
523,Ambon City,-3.70,128.18,75.20,94,40,3.36,ID,1600898819,Orchid Hotel
524,Iqaluit,63.75,-68.51,35.01,83,90,21.92,CA,1600898734,Frobisher Inn
525,San Jose,37.34,-121.89,84.00,39,20,11.41,US,1600898705,Four Points by Sheraton San Jose Downtown
526,Acapulco de Juárez,16.86,-99.89,87.80,74,75,8.05,MX,1600898819,Encanto Acapulco
527,Takaka,-40.85,172.80,59.00,93,1,10.00,NZ,1600898819,The Rocks Chalets

In [63]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lng"]]

In [64]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content= hotel_info)

# Display figure                              
fig.add_layer(hotel_layer)
  
fig

Figure(layout=FigureLayout(height='420px'))